# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# PyTorch / HuggingFace models
*.ckpt
*.safetensors
*.pt
*.bin
cache/

# Gradio / temporary files
*.tmp
*.pickle

# IDEs
.vscode/
.idea/
